
<a name="top" id="top"></a>
<h1>Dominican Republic</h1>
<app-button></app-button>
<br>
<br>
<img src="../assets/Dominican_Republic,_administrative_divisions_-_de_-_colored.svg.png" style="margin-left:auto;margin-right:auto;">
<ol>
  <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
  <ul>
    <li>Senator: Lía Ynocencia Díaz Santana</li>
    <li>Population: 256,981</li>
    <li><img src="../assets/Azua.jpg"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Bahoruco">Bahoruco</a></li>
  <ul>
    <li>Senator: Melania Salvador Jiménez</li>
    <li>Population: 118,987</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Bahoruco.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona">Barahona</a></li>
  <ul>
    <li>Senator: José Manuel del Castillo Saviñón</li>
    <li>Population: 226,898</li>
    <li><img src="../assets/Barahona.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Dajab%C3%B3n">Dajabón</a></li>
  <ul>
    <li>Senator: David Rafael Sosa Cerda</li>
    <li>Population: 67,887</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Dajabón.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Santo_Domingo">Santo Domingo</a></li>
  <ul>
    <li>Senator: Antonio M. Taveras Guzmán</li>
    <li>Population: 2,995,211</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Santo_Domingo.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Duarte_(provincia)">Duarte</a></li>
  <ul>
    <li>Senator: Franklin Martín Romero Morillo</li>
    <li>Population: 384,789</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Duarte.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/El%C3%ADas_Pi%C3%B1a">Elías Piña</a></li>
  <ul>
    <li>Senator: Aris Yván Lorenzo Suero</li>
    <li>Population: 70,589</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Elías_Piña.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
  <ul>
    <li>Senator: Santiago José Zorrilla</li>
    <li>Population: 115,889</li>
    <li><img src="../assets/Escudo_de_la_Provincia_El_Seibo.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Espaillat">Espaillat</a></li>
  <ul>
    <li>Senator: Carlos Manuel Gómez Ureña</li>
    <li>Population: 390,478</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Espaillat.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor">Hato Mayor</a></li>
  <ul>
    <li>Senator: Cristóbal Venerado Castillo</li>
    <li>Population: 89,578</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Hato_Mayor.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal_(provincia)">Hermanas Mirabal</a></li>
  <ul>
    <li>Senator: Bautista Antonio Rojas Gómez</li>
    <li>Population: 103,974</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Hermanas_Mirabal.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Independencia_(Rep%C3%BAblica_Dominicana)">Independencia</a></li>
  <ul>
    <li>Senator: Valentin Medrano Pérez</li>
    <li>Population: 54,785</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Independencia.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/La_Altagracia">La Altagracia</a></li>
  <ul>
    <li>Senator: Virgilio Cedano Cedano</li>
    <li>Population: 335,677</li>
    <li><img src="../assets/Escudo_de_la_Provincia_La_Altagracia.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/La_Romana_(provincia)">La Romana</a></li>
  <ul>
    <li>Senator: Iván José Silva Fernández</li>
    <li>Population: 330,587</li>
    <li><img src="../assets/Escudo_de_la_Provincia_La_Romana.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega">La Vega</a></li>
  <ul>
    <li>Senator: Ramón Rogelio Genao Durán</li>
    <li>Population: 420,478</li>
    <li><img src="../assets/Escudo_de_la_Provincia_La_Vega.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_S%C3%A1nchez_(provincia)">María Trinidad Sánchez</a></li>
  <ul>
    <li>Senator: Alexis Víctoria Yeb</li>
    <li>Population: 140,784</li>
    <li><img src="../assets/Escudo_de_la_Provincia_María_Trinidad_Sánchez.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Monse%C3%B1or_Nouel_(provincia)">Monseñor Nouel</a></li>
  <ul>
    <li>Senator: Hector E. Acosta</li>
    <li>Population: 201,474</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Monseñor_Nouel.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Montecristi_(provincia)">Monte Cristi</a></li>
  <ul>
    <li>Senator: Ramón Antonio Pimentel Gómez</li>
    <li>Population: 135,710</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Monte_Cristi.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Plata">Monte Plata</a></li>
  <ul>
    <li>Senator: Lenin Valdez López</li>
    <li>Population: 200,454</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Monte_Plata.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Pedernales_(provincia)">Pedernales</a></li>
  <ul>
    <li>Senator: Dionis A. Sánchez Carrasco</li>
    <li>Population: 38,941</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Pedernales.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Peravia">Peravia</a></li>
  <ul>
    <li>Senator: Milcíades M. Franjul</li>
    <li>Population: 298,747</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Peravia.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata">Puerto Plata</a></li>
  <ul>
    <li>Senator: Ginnette Altagracia Bournigal</li>
    <li>Population: 490,733</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Puerto_Plata.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Saman%C3%A1">Samaná</a></li>
  <ul>
    <li>Senator: Pedro Catrain Bonilla</li>
    <li>Population: 168,265</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Samaná.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/S%C3%A1nchez_Ram%C3%ADrez_(provincia)">Sánchez Ramírez</a></li>
  <ul>
    <li>Senator: Ricardo De Los Santos</li>
    <li>Population: 157,457</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/San_Crist%C3%B3bal_(provincia)">San Cristóbal</a></li>
  <ul>
    <li>Senator: Franklin Alberto Rodríguez</li>
    <li>Population: 859,741</li>
    <li><img src="../assets/Escudo_de_la_Provincia_San_Cristóbal.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Jos%C3%A9_de_Ocoa">San José de Ocoa</a></li>
  <ul>
    <li>Senator: José Antonio Castillo Casado</li>
    <li>Population: 82,458</li>
    <li><img src="../assets/Escudo_de_la_Provincia_San_José_de_Ocoa.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(Rep%C3%BAblica_Dominicana)">San Juan</a></li>
  <ul>
    <li>Senator: Félix Bautista Rosario</li>
    <li>Population: 300,476</li>
    <li><img src="../assets/Escudo_de_la_Provincia_San_Juan.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
  <ul>
    <li>Senator: Franklin Peña Villalona</li>
    <li>Population: 418,850</li>
    <li><img src="../assets/Escudo_de_la_Provincia_San_Pedro_de_Macorís.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(Rep%C3%BAblica_Dominicana)">Santiago</a></li>
  <ul>
    <li>Senator: Eduardo Estrella Virella</li>
    <li>Population: 1,833,451</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Santiago.svg.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_(provincia)">Santiago Rodríguez</a></li>
  <ul>
    <li>Senator: Casimiro Antonio Marte Familia</li>
    <li>Population: 164,941</li>
    <li><img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png"></li>
  </ul>
  <li><a href="https://es.wikipedia.org/wiki/Valverde_(Rep%C3%BAblica_Dominicana)">Valverde</a></li>
  <ul>
    <li>Senator: Martín E. Nolasco Vargas</li>
    <li>Population: 207,447</li>
    <li><img src="../assets/Escudo_del_Municipio_Mao.svg.png"></li>
  </ul>
</ol>
<app-buttontop></app-buttontop>
<a name="bottom" id="bottom"></a>